<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.AdminUserMapper">
  <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.AdminUser">
    <id column="admin_user_id" jdbcType="INTEGER" property="adminUserId" />
    <result column="login_user_name" jdbcType="VARCHAR" property="loginUserName" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="locked" jdbcType="TINYINT" property="locked" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_user_id, login_user_name, login_password, nick_name, locked,role_id
  </sql>

  <select id="login" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_newbee_mall_admin_user
    where login_user_name = #{userName,jdbcType=VARCHAR} AND login_password=#{password,jdbcType=VARCHAR} AND locked = 0
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_newbee_mall_admin_user
    where admin_user_id = #{adminUserId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="ltd.newbee.mall.entity.AdminUser">
    insert into tb_newbee_mall_admin_user (admin_user_id, login_user_name, login_password,
      nick_name, locked,role_id)
    values (#{adminUserId,jdbcType=INTEGER}, #{loginUserName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR},
      #{nickName,jdbcType=VARCHAR}, #{locked,jdbcType=TINYINT},#{roleId})
  </insert>
  <insert id="insertSelective" parameterType="ltd.newbee.mall.entity.AdminUser">
    insert into tb_newbee_mall_admin_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminUserId != null">
        admin_user_id,
      </if>
      <if test="loginUserName != null and loginUserName != ''">
        login_user_name,
      </if>
      <if test="loginPassword != null and loginPassword != ''">
        login_password,
      </if>
      <if test="nickName != null and nickName != ''">
        nick_name,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="roleId != 'null'">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminUserId != null">
        #{adminUserId,jdbcType=INTEGER},
      </if>
      <if test="loginUserName != null and loginUserName != ''">
        #{loginUserName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null and loginPassword != ''">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null and nickName != ''">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=TINYINT},
      </if>
      <if test="roleId != null">
        #{roleId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ltd.newbee.mall.entity.AdminUser">
    update tb_newbee_mall_admin_user
    <set>
      <if test="loginUserName != null">
        login_user_name = #{loginUserName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=TINYINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where admin_user_id = #{adminUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ltd.newbee.mall.entity.AdminUser">
    update tb_newbee_mall_admin_user
    set login_user_name = #{loginUserName,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=TINYINT},
        role_id = #{roleId}
    where admin_user_id = #{adminUserId,jdbcType=INTEGER}
  </update>

  <select id="selectListByRoleId" resultMap="BaseResultMap">
    select * from tb_newbee_mall_admin_user
    where role_id = #{roleId}
  </select>

  <select id="findAnnouncementPage" resultType="ltd.newbee.mall.controller.vo.AdminUserVo">
    select  au.admin_user_id adminUserId, au.login_user_name loginUserName, au.login_password loginPassword, au.nick_name nickName, au.locked, au.role_id roleId,r.name roleName
    from tb_newbee_mall_admin_user au left join tb_newbee_mall_role r on au.role_id = r.id
<where>
  <if test="loginUserName != null">
   and login_user_name = #{loginUserName,jdbcType=VARCHAR}
  </if>
  <if test="loginPassword != null">
    and login_password = #{loginPassword,jdbcType=VARCHAR}
  </if>
  <if test="nickName != null">
    and nick_name = #{nickName,jdbcType=VARCHAR}
  </if>
  <if test="locked != null">
    and locked = #{locked,jdbcType=TINYINT}
  </if>
  <if test="roleId != null">
    and role_id = #{roleId,jdbcType=INTEGER}
  </if>
</where>
    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>

  <select id="getTotalAnnouncements" resultType="int">
    select count(*)
    from tb_newbee_mall_admin_user
    <where>
      <if test="loginUserName != null">
        and login_user_name = #{loginUserName,jdbcType=VARCHAR}
      </if>
      <if test="loginPassword != null">
        and login_password = #{loginPassword,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null">
        and nick_name = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="locked != null">
        and locked = #{locked,jdbcType=TINYINT}
      </if>
      <if test="roleId != null">
        and role_id = #{roleId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <insert id="save">
    insert into tb_newbee_mall_admin_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="loginUserName != null and loginUserName != ''">
      login_user_name,
    </if>
    <if test="loginPassword != null and loginPassword != ''">
      login_password,
    </if>
    <if test="nickName != null and nickName != ''">
      nick_name
    </if>
    <if test="locked != null">
      locked,
    </if>
    <if test="roleId != null">
      role_id
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginUserName != null and loginUserName != ''">
        #{loginUserName}
      </if>
      <if test="loginPassword != null and loginPassword != ''">
        #{loginPassword}
      </if>
      <if test="nickName != null and nickName != ''">
       #{nickName}
      </if>
      <if test="locked != null">
        #{locked}
      </if>
      <if test="roleId != null">
        #{roleId}
      </if>
    </trim>
  </insert>

  <update id="removeRole">
    update tb_newbee_mall_admin_user set role_id = null
    where admin_user_id in
    <foreach collection="ids" item="id" open="(" separator="," close=")" >
      #{id}
    </foreach>
  </update>
</mapper>